.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 2rem 3rem;
  list-style-type: none;
  max-width: 90rem;
}

@media (max-width: 768px) {
  .portfolio-list {
    padding: 2rem 1rem;
  }
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-list-item {
  flex: 0 0 calc(50% - 1rem);
  background-color: #2e455a;
  margin: 1rem 0;
  padding: 0;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 10px 10px 30px black;
  transition: transform 0.3s ease-in-out;
  z-index: 0;
  aspect-ratio: 5/3;
}

.portfolio-list-item:hover {
  transform: scale(1.02);
}

/* .portfolio-list-item:active {
  transform: scale(0.99);
  transition-duration: 0s;
} */

.portfolio-list-item img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.portfolio-list-item h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
  font-family: "Montserrat Variable", sans-serif;
  padding: 0;
  margin: 0;
  color: white;
}

.portfolio-list-item p {
  padding: 0;
  margin: 0;
  color: white;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .portfolio-list-item {
    flex: 0 0 100%;
  }
}
